body{
    background-color: black;
}

div{
    width: 500px;
    margin: 20px auto;
}

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    width: 1000px;
    border: 5px solid white;
    
    
}
h1{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: underline;
    color: white;
    
}
span{
    color:red;
    font-weight: bold;
    
}
h2{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: underline;
    color: white;
    
}
p{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-decoration: none;
    color: white;
    line-height: 150%;
    
}
a{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    padding: 10px;
    background-color: red;
    width: 400px;
    display: block;
    text-decoration: none;
    
}